* {
  padding: 0;
  margin: 0;
  font-family: Tahoma;
  background-color: whitesmoke;
}

.main--container {
  margin: 0 auto;
  max-width: 400px;
}

.grid--container {
  margin-top: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(10, 1fr);
  row-gap: 20px;
  align-items: center;
  justify-items: center;
}

.spinner--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.gadget--label {
  justify-self: start;
}
